/*

*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
body {
	font-family: 'Droid Sans', sans-serif;
    
	
}

#freezeGroups {
    width: 70px;
}



/* Give vertical spacing on lists */

/* .navbar-default .navbar-nav li,
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    position: relative;
    display: block;
    box-sizing: border-box;
}  */



/* for randomizer
================================================== */

[id*="floatName"] {
	transition: 0.8s left, 0.8s top;
    width: 110px;
    font-size: 20px;
} 
	
#student-column, #student-column, #student-choice {
    font-size: x-large;

}    
    
/* #Site Styles
================================================== */
.band.header {
	padding-top: 20px;
}

h3 {
	font-family: Droid Serif;
}

h3 a {
	text-decoration: none;
}

h3 a:hover {
	color: #0000cc;
}

.righttext {
	float: right;
}


/* flexible embeds*/
.embed {
    position: relative;
    padding: 0px;
    padding-bottom: 56.25%; /* 16:9 ratio */
	height: 0;
	overflow: hidden;
}

.embed.doc {
	padding-bottom: 100%;
	
} 

.embed object,
.embed embed,
.embed iframe,
.embed video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed.scribd {
	padding-bottom: 100%;
	height: 500px;  
} 

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}



*/


