{% extends 'classroom/base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Delete Block</h1>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <form action="{% url 'classroom:deleteblock' %}" method="post">
            <!-- <form action="{% url 'classroom:random' %}" method="post"> -->
	            {% csrf_token %}
                {{ classroom }}
                {{ form }}
		    <input type="submit" value="submit" />
            </form>
        </div>
    </div>

</div>
{% endblock %}

