{% extends 'classroom/base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Class/Block Entry</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        <div class="form-group">
            <form action="{% url 'classroom:classroom' %}" method="post">
	            {% csrf_token %}
	            {{ form.as_p }}
	            <input type="submit" class="btn btn-default" value="submit" />
            </form>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"><a href ="{% url 'classroom:blocklist' %}" class="btn btn-default">CLICK HERE TO DELETE A BLOCK</a>
        </div>
    </div>

</div>
{% endblock %}

