{% extends 'randomizer/base.html' %}
{% block body %}
<div class = "container">
    <div class="row">
        <div class = "col-md-12">
            <h1>Classroom List and Randomizer</h1>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-12">
            <p>Tracking your progress with core competencies.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><a href ="{% url 'randomizer:classroom' %}" class="button" style="color:#999999">CLICK HERE TO UPLOAD CLASS LIST</a></div>

    </div>
</div>
{% endblock %}
